In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")
import itertools

In [2]:
Calender = pd.read_excel("C:\\Users\\abhishek\\Documents\\Data set\\Budget Sales data\\AdventureWorks_Database.xlsx", sheet_name = 'Calender')

In [3]:
Calender.head()

,Date,DateKey,Year,Quarter,MonthNum,Month,FiscalYear,FiscalQuarter,FiscalMonthNum,FiscalMonth,MonthYear,MonthYearLong,MonthYearNum,WeekdayNum,Weekday,WeekdayWeekend
0,2016-04-03,20160403,2016,Q2,4,Apr,FY2016,FQ4,10,Apr,Apr-16,Apr-2016,201604,1,Sun,Weekend
1,2016-04-04,20160404,2016,Q2,4,Apr,FY2016,FQ4,10,Apr,Apr-16,Apr-2016,201604,2,Mon,Weekday
2,2016-04-05,20160405,2016,Q2,4,Apr,FY2016,FQ4,10,Apr,Apr-16,Apr-2016,201604,3,Tue,Weekday
3,2016-04-06,20160406,2016,Q2,4,Apr,FY2016,FQ4,10,Apr,Apr-16,Apr-2016,201604,4,Wed,Weekday
4,2016-04-07,20160407,2016,Q2,4,Apr,FY2016,FQ4,10,Apr,Apr-16,Apr-2016,201604,5,Thu,Weekday

In [4]:
Customer= pd.read_excel("C:\\Users\\abhishek\\Documents\\Data set\\Budget Sales data\\AdventureWorks_Database.xlsx", sheet_name = 'Customers')

In [5]:
Customer.head()

,CustomerKey,FirstName,LastName,FullName,BirthDate,MaritalStatus,Gender,YearlyIncome,TotalChildren,NumberChildrenAtHome,Education,Occupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,DateFirstPurchase,CommuteDistance
0,11000,Jon,Yang,"Yang, Jon",1966-04-08,M,M,90000,2,0,Bachelors,Professional,1,0,3761 N. 14th St,2014-01-22,1-2 Miles
1,11001,Eugene,Huang,"Huang, Eugene",1965-05-14,S,M,60000,3,3,Bachelors,Professional,0,1,2243 W St.,2014-01-18,0-1 Miles
2,11002,Ruben,Torres,"Torres, Ruben",1965-08-12,M,M,60000,3,3,Bachelors,Professional,1,1,5844 Linden Land,2014-01-10,2-5 Miles
3,11003,Christy,Zhu,"Zhu, Christy",1968-02-15,S,F,70000,0,0,Bachelors,Professional,0,1,1825 Village Pl.,2014-01-01,5-10 Miles
4,11004,Elizabeth,Johnson,"Johnson, Elizabeth",1968-08-08,S,F,80000,5,5,Bachelors,Professional,1,4,7553 Harness Circle,2014-01-26,1-2 Miles

In [6]:
Customer.shape

(18484, 17)

In [ ]:
Product = pd.read_excel("C:\\Users\\abhishek\\Documents\\Data set\\Budget Sales data\\AdventureWorks_Database.xlsx", sheet_name = 'Product')

In [ ]:
Product =Product.drop(columns = 'Photo')

In [ ]:
Product

In [ ]:
Territory= pd.read_excel("C:\\Users\\abhishek\\Documents\\Data set\\Budget Sales data\\AdventureWorks_Database.xlsx", sheet_name = 'Territory')

In [ ]:
Territory = Territory.drop(columns = 'RegionImage')

In [ ]:
Territory

In [ ]:
Sales = pd.read_excel("C:\\Users\\abhishek\\Documents\\Data set\\Budget Sales data\\AdventureWorks_Database.xlsx", sheet_name = 'Sales')

In [ ]:
Sales.columns

In [ ]:
Sales = Sales.drop(columns = ['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'StandardCost',
       'List Price', 'Unnamed: 22', 'diif std cost', 'diff list price'])

In [ ]:
# Merging sales, Customer, Product, and Territory data

In [ ]:
MergedData = pd.merge(Sales, Customer, on = "CustomerKey")

In [ ]:
MergedData = pd.merge(MergedData, Product, on = "ProductKey")

In [ ]:
MergedData = pd.merge(MergedData, Territory, on = "SalesTerritoryKey")

In [ ]:
MergedData

In [ ]:
MergedData.columns

In [ ]:
MergedData.shape

In [ ]:
# Creating the line chart to figure out the Percentage of missing values in all the fields

fig = plt.figure(figsize = (18,6))
miss_MergedData = pd.DataFrame((MergedData.isnull().sum())*100/MergedData.shape[0]).reset_index()
miss_MergedData["type"] =  "MergedData"
Pointplot_chart = sns.pointplot(x="index",y=0,data=miss_MergedData,hue="type")
plt.xticks(rotation =90,fontsize=9)
plt.title("Percentage of Missing values is MergedData")
plt.xlabel("COLUMNS")
plt.ylabel("PERCENTAGE")
Pointplot_chart.set_facecolor("k")
fig.set_facecolor("lightgrey")

In [ ]:
MergedData = MergedData.drop('Color', axis=1)

In [ ]:
MergedData

In [ ]:
MergedData.describe()

In [ ]:
# Dataset information
MergedData.info()

In [ ]:
Clean_Data = MergedData.copy()

In [ ]:
Clean_Data.drop(columns =['ProductKey', 'PromotionKey', 'SalesTerritoryKey', 'SalesOrderNumber', 'SalesOrderLineNumber', 'TaxAmt', 'FirstName', 'LastName', 'FullName', 'AddressLine1', 'DaysToManufacture', 'ProductLine', 'ProductDescription', 'Region', 'Group'], axis = 1, inplace = True)

In [ ]:
Clean_Data

In [ ]:
# Dimension of Cleaned data
Clean_Data.shape

In [ ]:
gen = Clean_Data.groupby('Gender')['CustomerKey'].count()
gen

In [ ]:
# Gender Distribution of Customer by ploting Pie chart

plt.figure(figsize=(5,5))
plt.pie(gen, labels=['Female','Male'], autopct= '%0.0f%%')
plt.title('Gender Distribution of Customers', fontsize= 20)
plt.show()

**--> Male and Female customers are equal.**

In [ ]:
Mari = Clean_Data.groupby('MaritalStatus')['CustomerKey'].count()
Mari

In [ ]:
# MaritalStatus Distribution of Customer by ploting Pie chart

plt.figure(figsize=(5,5))
plt.pie(Mari, labels=['Married', 'Single'], autopct= '%0.0f%%')
plt.title('Gender Distribution of Customers', fontsize= 20)
plt.show()

**-->There are more married Customers than single Customers.**

In [ ]:
# Evaluating relationship between Total children and no of customers by ploting bar graph

sns.set_style('whitegrid')
tcd = sns.countplot(x = 'TotalChildren', data = Clean_Data, palette = ['r','g','b','c','y','k'])
plt.title('Count of customer vs Total Children', fontsize = 20)

**-->Customer with more than 2 children are very less as compared to the customers with children less than 3**

In [ ]:
# Evaluating relationship between Education of customers and no of customers by ploting bar graph

plt.figure(figsize=(7,5))
sns.set_style('whitegrid')
plt.xticks(rotation= 45)
plt.title('Count of customer vs Education', fontsize=15)
sns.countplot(x='Education', data= Clean_Data, palette = ['r','g','b','c','y'])
plt.show()

**-->Most of the customers are graduates or have partial College Education**

In [ ]:
# Evaluating relationship between occupation of the customers and no of customers by ploting barchart

plt.figure(figsize=(8,5))
sns.countplot(x='Occupation', data=Clean_Data, palette = ['r','g','b','c','y'])
plt.title('Count of Customers Vs Occupation', fontsize = 15)

**-->Mosts of the customer are from professional, Skilled Manual, and Management**

In [ ]:
# Evaluating relationship b/w CommuteDistance of the customer and no of customers by ploting bar chart
plt.figure(figsize=(8,5))
sns.countplot(x='CommuteDistance', data=Clean_Data, palette = ['r','g','b','c','y'])
plt.title('Count of Customers Vs CommuteDistance', fontsize = 15)

**--> Most of the customer are those who has less commute distance i.e. 0-1. Other customer who has commute distance between 1 to 10, has nearly have same customer count**

In [ ]:
cust = Clean_Data.groupby('Category')['CustomerKey'].count()
cust

In [ ]:
# Assuming Clean_Data is your DataFrame and 'Customerkey' is the column to count
# and 'Category' is the column with labels
values = Clean_Data['Category'].value_counts()
labels = values.index

# Creating the pie chart
plt.figure(figsize=(8, 5))
plt.pie(values, labels=labels, autopct="%0.1f%%", shadow=True, startangle=100,
        textprops={'fontsize': 10},
        wedgeprops={'linewidth': 3, 'edgecolor': 'k'})

# Display the plot
plt.show()

**-->Most of the customer are buying A**

In [ ]:
# Define the color palette
colors = ['#1f77b4', '#ff7f0e', '#2ca02c', '#d62728', '#9467bd', '#8c564b', '#e377c2', 
          '#7f7f7f', '#bcbd22', '#17becf', '#aec7e8', '#ffbb78', '#98df8a', '#ff9896', 
          '#c5b0d5', '#c49c94', '#f7b6d2']

# Prepare the data: Count the occurrences of each 'SubCategory'
subcat_counts = Clean_Data['SubCategory'].value_counts().reset_index()
subcat_counts.columns = ['SubCategory', 'Count']

# Create the horizontal bar plot
plt.figure(figsize=(15, 6))
sns.set_context("paper", font_scale=2)
sns.set_style('whitegrid')
sns.barplot(y='SubCategory', x='Count', data=subcat_counts, palette=colors)

# Customize the plot
plt.xticks(rotation=90)
plt.title('Count of Customers Vs Sub-Category')

# Add data labels
for index, value in enumerate(subcat_counts['Count']):
    plt.text(value, index, f'{value}', va='center', ha='left', fontsize=12)

# Display the plot
plt.show()

**-->Most of the customers are interested in buying accessories like tires, tubes, bottles, cages & helmets. Within the bikes category segment, road and mountan bikes are more sold.**

In [ ]:
# Country Distribution of Customer by Ploting pie chart
values = Clean_Data['Country'].value_counts()
labels = values.index

# Creating the pie chart
plt.figure(figsize=(8, 5))
plt.pie(values, labels=labels, autopct="%0.2f%%", shadow=True, startangle=100,
        textprops={'fontsize': 10},
        wedgeprops={'linewidth': 3, 'edgecolor': 'k'})
plt.title("Country Distribution of Customers", fontsize=20)

# Display the plot
plt.show()

**-->More than 50% of customers are from United States and Australia**

In [ ]:
# Gernal Distribution of sales by plotting Pie chart
values = Clean_Data.groupby('Gender')['SalesAmount'].sum()
labels = values.index

# Creating the pie chart
plt.figure(figsize=(8, 5))
plt.pie(values, labels=labels, autopct="%0.2f%%", shadow=True,
        textprops={'fontsize': 10},
        wedgeprops={'linewidth': 3, 'edgecolor': 'k'})
plt.title("Gender distribution of Sales", fontsize=20)

# Display the plot
plt.show()

**-->Sales from male and female customer nearly same.**

In [ ]:
# Marital Status Distribution of Sales by ploting pie chart

values = Clean_Data.groupby('MaritalStatus')['SalesAmount'].sum()
labels = values.index

# Creating the pie chart
plt.figure(figsize=(8, 5))
plt.pie(values, labels=labels, autopct="%0.2f%%", shadow=True,
        textprops={'fontsize': 10},
        wedgeprops={'linewidth': 3, 'edgecolor': 'k'})
plt.title("MaritalStatus distribution of Sales", fontsize=20)

# Display the plot
plt.show()

**-->Sales of married customers is slightly more than single customers.**

In [ ]:
# Evaluating relationship b/w yearly income and Sales Amount by ploting Line graph
plt.figure(figsize=(15,6))
Sales_by_yearly_income = Clean_Data.groupby('YearlyIncome')['SalesAmount'].sum()
labels = Sales_by_yearly_income.index
plt.plot(labels, Sales_by_yearly_income,color = 'r', marker = 'o', linestyle = '--',
        markersize = 8)

# Adding title and labels
plt.title('Relationship between Yearly Income and Sales Amount', fontsize=20)
plt.xlabel('Yearly Income', fontsize=14)
plt.ylabel('Sales Amount', fontsize=14)
# Display 
plt.show()

**-->Most of the sales are comeing from middel class with yearly income form 30000 to 70000 Dollers.**

In [ ]:
# Evalutating relationship b/w Sales Amount and Totla Children
plt.figure(figsize=(8, 6))
sns.barplot(x='TotalChildren', y='SalesAmount', data=Clean_Data, estimator=sum, palette=['r', 'g', 'b', 'c', 'y'])
plt.title('Sales Vs Total Children', fontsize=15)

# Display the plot
plt.show()

**-->Most of the sales are coming from customer haveing 0 to 2 children.**

In [ ]:
# Evaluating relationship b/w  sales and education by plotting bar chart
plt.figure(figsize=(8, 6))
sns.barplot(y='Education', x='SalesAmount', data=Clean_Data, estimator=sum, palette=['r', 'g', 'b', 'c', 'y'])
plt.title('Sales Vs Education', fontsize=15)
# Display the plot
plt.show()

**-->Most of sales comes from customers with Bachelors and partial Collage education**

In [ ]:
# Evalutating relationship b/w Sales Amount and Occupation by ploting bar chart
plt.figure(figsize=(8, 5))
sns.set_context("paper", font_scale=2)
sns.barplot(x='Occupation', y='SalesAmount', data=Clean_Data, estimator=sum, palette=['r', 'g', 'b', 'c', 'y'],)
plt.title('Sales Vs Occupation', fontsize=15)
plt.xticks( fontsize=10)
# Display the plot
plt.show()

**-->Professionals contribute most saels of company**

In [ ]:
# Evalutating relationship b/w Sales Amount and Commute Distance by ploting bar chart
plt.figure(figsize=(8, 5))
sns.barplot(x='CommuteDistance', y='SalesAmount', data=Clean_Data, estimator=sum, palette=['r', 'g', 'b', 'c', 'y'],)
plt.title('Sales Vs Commute Distance', fontsize=15)
plt.xticks( fontsize=14)
# Display the plot
plt.show()

**-->Most of sales are coming from customer are those who has less commute distance i.e. 0-1.**

In [ ]:
# Category distribution of sales by ploting Pie chart
salesCategory = Clean_Data.groupby('Category').SalesAmount.sum()
plt.figure(figsize = (5,5))
plt.title('Sales Category Distribution', fontsize=20)
salesCategory.plot(kind = 'pie', autopct='%0.2f%%', fontsize=10)

**-->97% of the sales comes from the bikes.**

In [ ]:
# Evaluating relationship between Sub Category and Sales by ploting bar graph

salesSubCategory = Clean_Data.groupby ('SubCategory').SalesAmount.sum()
plt.figure(figsize= (10,6))
plt.title('Sales Vs Sub Category', fontsize = 15)
plt.grid()
salesSubCategory.plot(kind='bar')

**-->Majority of sales comes form Road Bikes and Mountain Bikes.**

In [ ]:
# Country Distribution of Sales by ploting Pie chart

salesCategory = Clean_Data.groupby('Country').SalesAmount.sum()
plt.figure(figsize = (5,5))
plt.title('Sales Country Distribution', fontsize=20)
salesCategory.plot(kind = 'pie', autopct='%0.2f%%', fontsize=10)

**-->Most Sales comes form Australia and United States**

In [ ]:
# Evaluating relationship b/w birth date and sales by ploting line graph.
salesBirthDate = Clean_Data.groupby('BirthDate').SalesAmount.sum()
plt.figure(figsize = (10,6))
plt.title('Sales by Birth Date')
plt.xticks(fontsize = 10)
salesBirthDate.plot(kind = 'line')

**-->Most sales by the peoples have age around 47 to 72**